.tinyForm {
	margin-top: 2rem;
}

@media only screen and (max-width: 767px){
	form {
    margin-top: 1rem;
	}
	.selections {
    display: block;
    margin-top: 1rem; 
  }

	.message {
    font-size: 1.5rem;
	}

	.buttons{
	  text-align: end;
	}

}
@media screen and (max-width: 480px) {}