body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
	visibility: hidden;
}

.selections {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

input[type="submit"] {
    margin: .5em 0;
}

#cancel {
  margin: .5em 0 .5rem 1rem;
}

.start {
  color: #22beef;
}
.message {
  margin: 0;
  color: #4864b0;
}
.title {
  text-transform: uppercase!important;
}

